<div class="flex h-screen justify-between">
    <div class="w-3xs ">nav
        <div class="bg-gray-300 py-3"></div>
        <div class="mt-5 shadow shadow-black">
            <p class="text-blue-400">Home</p>
            <div class="flex items-center space-x-2 mt-5 justify-between">
                <p class="text-1xl font-bold ">Edit post</p>
                <div class="flex gap-3">
                    <button class="h-6 w-6  bg-gray-300">b</button>
                    <button class="h-6 w-6 bg-gray-300">b</button>
                </div>
            </div>
        </div>
        <div class="flex gap-3 mt-13">
            <button class=" w-10 bg-gray-300">Add</button>
            <button class=" w-20 bg-gray-300">Contents</button>
            <button class=" w-15 bg-gray-300">Theme</button>
        </div>
    </div>

    <div class=" w-full">main</div>
    <div class="">side</div>
</div>